.Node {
  outline-color: lightblue;
  outline-style: solid;
  outline-width: 1px;
  background-color: white;
}

.Node h2 {
  font-weight: lighter;
  font-size: medium;
  text-align: center;
  background-color: lightblue;
}

#summaryNode{
  width: fit-content;
  height: fit-content;
  margin: 0;
  padding: 0;
}

#webScrapperNode{
  width: 11vw;
  height: 8vh;
}

textarea {
  font-size: xx-small;
  background-color: ghostwhite;
  resize: both;
  box-sizing: border-box;
  height: 100%;
}

input {
  font-size: xx-small;
  width: 100%;
}

input:focus {
  outline: none;
}

label {
  font-size: 8px;
}

.verticalContainer {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  height: 60%;
}

.horizontalContainer {
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}