.Node {
  outline-color: lightblue;
  outline-style: solid;
  outline-width: 1px;
  background-color: white;
}

.Node h2 {
  font-weight: lighter;
  font-size: small;
  text-align: center;
  background-color: lightblue;
}

#summaryNode {
  width: fit-content;
  height: fit-content;
  margin: 0;
  padding: 0;
}

#webScraperNode {
  width: 150px;
  height: 50px;
}

textarea {
  font-size: xx-small;
  background-color: ghostwhite;
  resize: both;
  box-sizing: border-box;
  height: 100%;
  min-width: 60px;
  min-height: 40px;
  scrollbar-width: none;
}

input {
  font-size: xx-small;
  width: 100%;
}

input:focus {
  outline: none;
}

label {
  font-size: 8px;
}

.verticalContainer {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  height: 60%;
}

.horizontalContainer {
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: gainsboro;
  overflow-x: hidden;
  padding-top: 60px;
}

.dndnode {
  height: 30px;
  padding: 10px;
  font-size: large;
  background-color: white;
  border: 5px solid lightblue;
  border-radius: 2px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
}

aside {
  border-right: 1px solid gainsboro;
  padding: 15px 10px;
  font-size: 12px;
  background: ghostwhite;
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
}

.dndflow aside .description {
  margin-bottom: 10px;
}

.description {
  padding-bottom: 20px;
}

aside {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.dndflow aside {
  width: 20%;
  max-width: 250px;
}

body {
  overflow: hidden;
}

footer {
  margin-bottom: 30px;
  position: fixed;
  bottom: 0;
}

input[type="image"] {
  display: inline-block;
  width: 30px;
  height: auto;
  margin-bottom: 20px;
}
